* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

.pic-animation {
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
}

nav {
  display: none;
}

.main {
  height: 100vh;
  width: 100%;
  background: url(/img/bgc-mobile.jpg) no-repeat center center fixed;
  background-size: cover;
  color: white;
  overflow-x: hidden;
}

.main .logo {
  height: 4rem;
  width: 6rem;
  position: absolute;
  top: 2%;
  left: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main header {
  position: absolute;
  top: 25%;
  width: 100%;
  font-size: 2.5rem;
  height: 25vh;
  -webkit-animation: head-slide 2s ease;
          animation: head-slide 2s ease;
}

.main header :nth-child(1) {
  position: absolute;
  left: 18%;
  top: 2%;
}

.main header :nth-child(2) {
  position: absolute;
  right: 18%;
  bottom: 2%;
}

.main p {
  position: absolute;
  top: 60%;
  width: 100%;
  height: 5vh;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  -webkit-animation: head-slide 2s 0.5s ease both;
          animation: head-slide 2s 0.5s ease both;
}

.main button {
  position: absolute;
  bottom: 17%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border: none;
  border-radius: 15px 15px;
  height: 7vh;
  width: 45%;
  font-size: 1rem;
  font-weight: bold;
  background-color: #fff;
}

.about {
  height: 100vh;
  background-image: url(/img/bgc-mobile-2.jpg);
  color: lightgray;
  position: relative;
  z-index: -2;
  overflow: hidden;
}

.about header {
  text-align: center;
  height: 10vh;
  position: relative;
  width: 100%;
}

.about header h2 {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  padding-top: 30px;
}

.about .description {
  height: 30vh;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  line-height: 1.3rem;
  z-index: 1;
  text-shadow: 0 0 8px black;
  font-size: 0.7rem;
  padding-top: 20px;
}

.about figure {
  margin: 0;
  padding: 0;
  height: 34vh;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  z-index: -1;
}

.about figure .park-img {
  width: 100%;
  padding: 0;
  margin: 0;
  border-radius: 15px 15px;
  z-index: -1;
  -webkit-transition: 4s;
  transition: 4s;
}

@-webkit-keyframes head-slide {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}

@keyframes head-slide {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}

@media (min-width: 420px) and (max-width: 768px) {
  nav {
    display: none;
  }
  .main header h1 {
    font-size: 5rem;
  }
  .main header :nth-child(1) {
    position: absolute;
    left: 22%;
    top: 2%;
  }
  .main header :nth-child(2) {
    position: absolute;
    right: 22%;
    bottom: 2%;
  }
  .main p {
    -webkit-animation: head-slide 2s 0.5s ease both;
            animation: head-slide 2s 0.5s ease both;
  }
  .main button {
    font-size: 2rem;
  }
  .about header {
    height: 15vh;
  }
  .about .description {
    line-height: 1.5rem;
    font-size: 1.2rem;
  }
  .about figure {
    height: 60vh;
    bottom: -100px;
  }
}

@media (min-width: 769px) {
  nav {
    position: absolute;
    top: 2%;
    width: 100%;
    height: 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0 50px;
  }
  .main {
    height: 100vh;
    width: 100%;
    background: url(/img/bgc.jpg) no-repeat center center fixed;
    background-size: cover;
  }
  .main .logo {
    height: 4rem;
    width: 6rem;
    position: absolute;
    top: 2%;
    left: 2%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main header {
    position: absolute;
    top: 40%;
    left: 12%;
    font-size: 3.5rem;
    height: 25vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-animation: head-slide 2s ease;
            animation: head-slide 2s ease;
  }
  .main header :nth-child(1) {
    padding-right: 20px;
  }
  .main p {
    position: absolute;
    top: 57%;
    left: 12%;
    height: 5vh;
    font-size: 3rem;
    font-weight: bold;
    -webkit-animation: head-slide 2s .5s ease both;
            animation: head-slide 2s .5s ease both;
  }
  .main button {
    position: absolute;
    bottom: 17%;
    left: 12%;
    border: none;
    border-radius: 15px 15px;
    height: 7vh;
    width: 25%;
    font-size: 1rem;
    font-weight: bold;
    background-color: #000;
    color: white;
    cursor: pointer;
    -webkit-transition: 1s;
    transition: 1s;
    -webkit-animation: head-slide 2s .7s ease both;
            animation: head-slide 2s .7s ease both;
  }
  .main button:hover {
    background-color: #fff;
    color: black;
  }
  @-webkit-keyframes head-slide {
    0% {
      left: -100%;
    }
    100% {
      left: 12%;
    }
  }
  @keyframes head-slide {
    0% {
      left: -100%;
    }
    100% {
      left: 12%;
    }
  }
  .about {
    height: 100vh;
    position: relative;
    padding: 0;
    margin: 0;
    background-image: -webkit-gradient(linear, left bottom, right top, from(#000000), color-stop(#070707), color-stop(#0d0d0d), color-stop(#121212), to(#161616));
    background-image: linear-gradient(to right top, #000000, #070707, #0d0d0d, #121212, #161616);
    color: white;
  }
  .about header {
    position: absolute;
    top: 17%;
    left: 5%;
    font-size: 2.2rem;
    width: 50%;
    z-index: 1;
    text-shadow: 0 0 4px black;
  }
  .about .description {
    position: absolute;
    left: 5%;
    top: 50%;
    width: 50%;
    line-height: 2rem;
    z-index: 1;
    text-shadow: 0 0 4px black;
  }
  .about figure {
    margin: 0;
    padding: 0;
    height: 50vh;
    width: 50vh;
    position: absolute;
    top: 50%;
    right: 7%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .about figure .park-img {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 15px 15px;
    -webkit-transition: 3s;
    transition: 3s;
    z-index: -2;
  }
}
/*# sourceMappingURL=style.css.map */