nav {
  position: absolute;
  top: 2%;
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0 50px;
  }
}

.main {
  height: 100vh;
  width: 100%;
  background: url(/img/bgc.jpg) no-repeat center center fixed;
  background-size: cover;

  .logo {
    @include logo;
  }

  header {
    position: absolute;
    top: 40%;
    left: 12%;
    width: 100%;
    font-size: 1rem;
    height: 25vh;
    display: flex;

    animation: head-slide 2s ease;

    :nth-child(1) {
      position: absolute;
      left: 18%;
      top: 2%;
    }

    :nth-child(2) {
      position: absolute;
      right: 18%;
      bottom: 2%;
    }
  }

  p {
    position: absolute;
    top: 57%;
    left: 12%;
    height: 5vh;
    font-size: 3rem;
    font-weight: bold;
    animation: head-slide 2s 0.5s ease both;
    text-align: start;
  }

  .learn-more {
    position: absolute;
    bottom: 17%;
    left: 12%;
    border: none;
    border-radius: 15px 15px;
    height: 7vh;
    width: 25%;
    font-size: 1rem;
    font-weight: bold;
    background-color: #000;
    color: white;
    cursor: pointer;
    transition: 1s;
    animation: head-slide 2s 0.7s ease both;
  }

  button:hover {
    background-color: #fff;
    color: black;
  }
}

@keyframes head-slide {
  0% {
    left: -100%;
  }

  100% {
    left: 12%;
  }
}