* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}
@mixin logo {
  height: 4rem;
  width: 6rem;
  text-align: center;
  position: absolute;
  top: 2%;
  left: 2%;
}
.pic-animation{
  transform: rotate(25deg);
}

@media (max-width: 419px) {
  @import "mobile-main";
  @import "mobile-about";
}
@media (min-width:420px) and (max-width: 768px){
  @import "tablet-main";
  @import "tablet-about";
}

@media (min-width: 769px) {
  @import "desktop-main";
  @import "desktop-about";
}
