* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@mixin logo {
  height: 4rem;
  width: 6rem;
  position: absolute;
  top: 2%;
  left: 2%;
}

@media (max-width: 768px) {
  @import "mobile-main";
}

@media (min-width: 769px) {
  @import "_desktop-main";
}
